/* Top Section */

.round-circle{
    position: absolute;
    background-color: orangered;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    font-weight: 900;
    color: white;
    padding: 20px;
    left: 20%;
    top: 10%;
    font-size: 22px;
}
.round-circle h4{
    font-weight: 900;
    margin: 5px 0px;
    font-size: 26px;
}

@media screen and (max-width: 990px) {
    .round-circle{
        width: 150px;
        height: 150px;
        font-size: 18px;
    }
    .round-circle h4{
        font-size: 22px;
    }
    
  }


  /* RightSection */

  .RightSection form{
    background-color: rgb(104, 185, 165);
  }
  .RightSection form h3{
    color: white;
    text-align: center;
  }
  .RightSection form h3 span{
    font-weight: bold;
  }
  .RightSection form button{
    background-color: orangered;
    color: white;
    font-weight: bolder;
  }

  /* BottomSection */

  .BottomSection{
    background-color: rgb(185, 231, 252);
  }
  

  .Footer{
    background-color: rgba(85, 88, 94, 0.959);
  }
  .Footer ul{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
  }
  .Footer ul li{
    list-style: none;
    padding: 5px;
    color: white;
    font-size: 18px;
  }